<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline my-2 my-lg-0">
    <%= form.text_field :description, class: "form-control mr-sm-2" %>

    <%= form.submit "Add Todo Item", class: 'btn btn-outline-success my-2 my-sm-0' %>
  </div>
<% end %>
  